<h1>All the Cats!</h1>

<ul>
    <%= render @cats %>
</ul>

<!-- Link to Create a New Rental Request for Cat -->
<a href="/cats/<%= 'generic_request' %>/cat_rental_requests/new">Create Cat Rental Request</a> 

