<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <title>App Academy Flex</title>
</head>
<body>
    <div class="title-header">
        <h2>Time to</h2>
        <h2>FLEX</h2>
        <h2>those CSS muscles</h2>
    </div>

    <div class="flex-list">
        <h1>This is the list of things I can flex</h1>
        <ul>
            <li class="red">Frogs</li>
            <li class="red">Lists</li>
            <li class="red">My Mind</li>
        </ul>
    </div>

    <div id="animal-list">
        <h4>Look at these animals!</h4>
        <ul class="animals">
            <li class="blue">Whale</li>
            <li class="blue">Dolphin</li>
            <li class="blue">Turtle</li>
        </ul>
    </div>
</body>
</html>